        {{#each items}}
            <div class="item-friend">
                <img class="friendPhoto" src="{{photo_100}}"/>
                <h4 class="friendName">{{first_name}} {{last_name}}</h4>
                <span class="addFriend">+</span>
            </div>
        {{/each}}